@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/*font-family: 'Alegreya Sans SC', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: 0;
}
main{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex; 
    /*헤더와 섹션을 좌우로 배치하기 위해 사용*/
}
main header{
    width: 20%;
    height: 100vh;
    padding: 10vh 5vw;
/*    background: #ccc;*/
/*    border: 10px solid pink;*/
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: center;
}
main header h1{
    color: #fff;
    font-size: 0;
}
main header h1 i{
    font-size: 6vw;
    margin-bottom: 15px;
}
main header h1 span{
    display: block;
    font : normal 1.2vw/1 "arial";
}
main header address{
    color: #888;
    font : normal 11px/1.2 "arial";
}
main nav{
    position: absolute;
    top:10vh;
    right:5vw;
/*    border: 10px solid aqua;*/
    z-index: 3;
}
main nav ul{display: flex;}
main nav ul li{}
main nav ul li a{
    font-size: 18px;
    color: #bbb;
    margin-right: 30px;
}
main section{
    width: 80%;
    height: 100vh;
/*    background: #ddd;*/
/*    border: 10px solid blue;*/
    position: relative;
    z-index: 1;
    display: flex;
    padding-top:140px;
}

main section article{
    position: relative;
    flex: 1;
    padding: 70px 40px 100px 40px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    transition: flex 1s, opacity 1s;
/*    overflow: hidden;*/
}
main section article::before{
    content: "";
    position: absolute;
    top:0px;
    left:-200px;
    width: 80%;
    height: 95%;
    background: #444;
    display: block;
    opacity: 0;
    transition: 1s;
}
main section article .inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}
main section article .inner .txt{
    width: 100%;
    transition: 0.5s;
    text-align: justify;
}
main section article .inner .txt h2{
    font: normal 2vw/1 'Alegreya Sans SC';
    color: #fff;
    margin-bottom: 40px;
    padding-top: 70px;
    transition: 1s;
}
main section article .inner .txt h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #777;
    margin-top: 20px;
    transition: 1.5s;
}
main section article .inner .txt p{
    font: normal 14px/1.4 'arial';
    color: #fff;
}
main section article .inner figure{
    width: 100%;
    height: 15vh;
    background: #777;
    transform-origin: left center;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    filter: saturate(10%);
    transition: 1s;
}
main section article .inner figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
main section article:hover{
    flex: 1.5;
    opacity: 1;
}
main section article:hover::before{
    left:0px;
    opacity: 1;
}
main section article:hover .inner .txt{
    width: 75%;
}
main section article:hover .inner .txt h2{
    font-size: 5vw;
    padding-top: 0;
}
main section article:hover .inner .txt h2::after{
    width: 120px;
    background-color: orange;
}
main section article:hover .inner figure{
    height: 25vh;
    filter: saturate(120%);
    transform: translateY(3vh);
}
/*클릭시 소개페이지 보여주기*/
main aside{
    width: 100%;
    height: 100vh;
    background: #222;
    position: absolute;
    top:0;
    left:-100%;
    opacity: 1;
    z-index: 2;
    padding: 20vh 7vw 14vh 20vw;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    
}
main aside.on{
    left:0;
    opacity: 1;
}
main aside .txt{
    width: 25%;
    height: 100%;
}
main aside .txt h1{
    font: normal 6vw/1 'Alegreya Sans SC';
    color: #ddd;
    margin-bottom: 20px;
}
main aside .txt p{
    font: normal 1.1vw/1.3 'arial';
    color: #666;
    margin-bottom: 60px;
}
main aside .txt span{
    color: orange;
    cursor: pointer;
}
main aside figure{
    width: 75%;
    height: 100%;
}
main aside figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}











